<!-- Header start -->
<header id="contact" class="c">
    <h1><a href="./" accesskey="h">Just the best Cakes</a></h1>
    <nav id="skip">
        <ul>
            <li><a href="#nav" accesskey="n">Skip to navigation (n)</a></li>
            <li><a href="#content" accesskey="c">Skip to content (c)</a></li>
            <li><a href="#footer" accesskey="f">Skip to footer (f)</a></li>
        </ul>
    </nav>
    <!-- Navigation start -->
    <nav id="nav">
        <div id="logomarca">
            <a href="/">
                <img src="/media/images/logomarca.png">
            </a>
        </div>
        <ul>
            <li class="menu" name="home"><a href="/">Home</a></li>
            <li class="menu" name="sobre"><a accesskey="1" href="/sobre/">Sobre Nós</a> <em>(1)</em></li>
            <li class="menu" name="servicos"><a accesskey="2" href="/servicos/">Serviços</a> <em>(2)</em></li>
            <li class="menu" name="galeria"><a accesskey="3" href="/galeria/">Galeria</a> <em>(3)</em></li>
            <li class="menu" name="depoimentos"><a accesskey="4" href="/depoimentos/">Depoimentos</a> <em>(4)</em></li>
            <li class="menu" name="contato"><a accesskey="5" href="/contato/">Contato</a> <em>(5)</em></li>
        </ul>
    </nav>
    <!-- Welcome text in slider -->
</header>