<!-- Header start -->
<header id="contact" class="c">
    <!-- Navigation start -->
    <nav id="nav">
        <div id="logomarca">
            <a href="/">
                <img src="/static/media/images/logomarca.png">
            </a>
        </div>
        <ul>
            <li class="menu" name="home"><a href="/">Home</a></li>
            <li class="menu" name="sobre"><a accesskey="1" href="/sobre/">Sobre Nós</a> <em>(1)</em></li>
            <li class="menu" name="galeria"><a accesskey="2" href="/galeria/">Galeria</a> <em>(2)</em></li>
            <li class="menu" name="depoimentos"><a accesskey="3" href="/depoimentos/">Depoimentos</a> <em>(3)</em></li>
            <li class="menu" name="contato"><a accesskey="4" href="/contato/">Contato</a> <em>(4)</em></li>
        </ul>
    </nav>
    <!-- Welcome text in slider -->
</header>