<header id="top" class="b">
    <nav id="skip">
        <ul>
            <li><a href="#nav" accesskey="n">Skip to navigation (n)</a></li>
            <li><a href="#content" accesskey="c">Skip to content (c)</a></li>
            <li><a href="#footer" accesskey="f">Skip to footer (f)</a></li>
        </ul>
    </nav>
    <!-- Navigation start -->
    <nav id="nav">
        <div id="logomarca">
            <a href="/">
                <img src="/static/media/images/logomarca.png">
            </a>
        </div>
        <ul>
            <li class="menu" name="home"><a href="/">Home</a></li>
            <li class="menu" name="sobre"><a accesskey="1" href="/sobre/">Sobre Nós</a> <em>(1)</em></li>
            <li class="menu" name="galeria"><a accesskey="2" href="/galeria/">Galeria</a> <em>(2)</em></li>
            <li class="menu" name="depoimentos"><a accesskey="3" href="/depoimentos/">Depoimentos</a> <em>(3)</em></li>
            <li class="menu" name="contato"><a accesskey="4" href="/contato/">Contato</a> <em>(4)</em></li>
        </ul>
    </nav>
    <!-- Welcome text in slider -->

    <div id="featured">
        {% for banner in banners %}
            <div>
                <figure><img src="/static/media/{{ banner.imagem }}" alt="{{ banner.legenda }}" width="950"
                             height="340">
                </figure>
            </div>
        {% empty %}
            <div>
                <figure><img src="/static/media/temp/placeholder-n.png" alt="Placeholder" width="950" height="340">
                </figure>
            </div>
            <div>
                <figure><img src="/static/media/temp/placeholder-n-1.png" alt="Placeholder" width="950" height="340">
                </figure>
            </div>
            <div>
                <figure><img src="/static/media/temp/placeholder-n.png" alt="Placeholder" width="950" height="340">
                </figure>
            </div>
            <div>
                <figure><img src="/static/media/temp/placeholder-n-1.png" alt="Placeholder" width="950" height="340">
                </figure>
            </div>
            <div>
                <figure><img src="/static/media/temp/placeholder-n.png" alt="Placeholder" width="950" height="340">
                </figure>
            </div>
        {% endfor %}
    </div>
</header>