{% extends 'abstracts/base.html' %}

{% block title %}
    Bolos da Lu - Sobre Nós
{% endblock %}

{% block header %}
    {% include 'abstracts/header-top.html' %}
{% endblock %}

{% block content %}
    <input type="hidden" name="page" value="sobre">
    <article class="module-a">
        <h2>Sobre Nós</h2>

        <p>We are autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore
            eu
            feugiat consuetudium le mirum. um dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
            euismod
            tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
            tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
            dolor in
            hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero
            eros
            et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait
            nulla facilisi. Nam libeum dolor sit amet, consectetuer adipiscing elit. </p>

        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
            commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,
            vel
            illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit
            praesent
            luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
        <figure class="image-a">
            <img alt="Placeholder" width="252" height="283" src="/media/images/pictures/luzia.jpg">
            <figcaption>Luzia Marques :)</figcaption>
        </figure>
    </article>
{% endblock %}