{% extends 'abstractions/base.html' %}

{% block title %}
    Bolos da Lu - Serviços
{% endblock %}

{% block header %}
    {% include 'abstractions/header-top.html' %}
{% endblock %}

{% block content %}
    <input type="hidden" name="page" value="servicos">
    <article class="module-content">
        <h2>Serviços</h2>

        <div class="news-c">
            <article>
                <figure><img src="/media/temp/placeholder-k.png" alt="Placeholder" width="258" height="180"></figure>
                <h3>Bolos</h3>

                <p>Lorem ipsum dolor sit amet, cons ect etuer adipisc in elit, sed diam nonum my nibh in
                    euismod...</p>
            </article>
            <article>
                <figure><img src="/media/temp/placeholder-k-1.png" alt="Placeholder" width="258" height="180"></figure>
                <h3>Tortas</h3>

                <p>Lorem ipsum dolor sit amet, cons ect etuer adipisc in elit, sed diam nonum my nibh in
                    euismod...</p>
            </article>
            <article>
                <figure><img src="/media/temp/placeholder-k.png" alt="Placeholder" width="258" height="180"></figure>
                <h3>Cupcake</h3>

                <p>Lorem ipsum dolor sit amet, cons ect etuer adipisc in elit, sed diam nonum my nibh in
                    euismod...</p>
            </article>
            <article>
                <figure><img src="/media/temp/placeholder-k.png" alt="Placeholder" width="258" height="180"></figure>
                <h3>Mini Bolos</h3>

                <p>Lorem ipsum dolor sit amet, cons ect etuer adipisc in elit, sed diam nonum my nibh in
                    euismod...</p>
            </article>
            <article>
                <figure><img src="/media/temp/placeholder-k.png" alt="Placeholder" width="258" height="180"></figure>
                <h3>Doces</h3>
                <p>Lorem ipsum dolor sit amet, cons ect etuer adipisc in elit, sed diam nonum my nibh in
                    euismod...</p>
            </article>
            <article>
                <figure><img src="/media/temp/placeholder-k.png" alt="Placeholder" width="258" height="180"></figure>
                <h3>Salgados</h3>
                <p>Lorem ipsum dolor sit amet, cons ect etuer adipisc in elit, sed diam nonum my nibh in
                    euismod...</p>
            </article>
        </div>
    </article>
{% endblock %}