{% extends 'abstracts/base.html' %}

{% block title %}
    Bolos da Lu - Sobre Nós
{% endblock %}

{% block header %}
    {% include 'abstracts/header-top.html' %}
{% endblock %}

{% block content %}
    <input type="hidden" name="page" value="sobre">
    <article class="module-a">
        <h1>Sobre Nós</h1>
        {% if conteudo %}
            <p>{{ conteudo.descricao }}</p>
            <figure class="image-a">
                <img width="252" height="283" src="/static/media/{{ conteudo.imagem }}">
                <figcaption>Luzia Marques :)</figcaption>
            </figure>
        {% else %}
            <p>Nenhum Conteúdo Cadastrado</p>
        {% endif %}
    </article>
{% endblock %}