{% extends 'abstracts/base.html' %}

{% block title %}
    Bolos da Lu - Contato
{% endblock %}

{% block header %}
    {% include 'abstracts/header-contact.html' %}
{% endblock %}

{% block content %}
    <input type="hidden" name="page" value="contato">
    <input type="hidden" name="alert_msg" value="{{ alert_msg }}">
    <div class="cols-a">
        <article>
            <h2>Contato</h2>

            <form id="form_contact" action="/contato/send/" method="post" enctype="multipart/form-data" class="form-a">
                {% csrf_token %}
                <input type="hidden" name="event" value="start"/>
                <fieldset>
                    <legend>Envie-nos um e-mail:</legend>
                    <p>
									<span>
										<label for="ca">Seu nome: *</label>
										<input type="text" id="ca" name="nome" required>
									</span>
									<span>
										<label for="cb">Seu email: *</label>
										<input type="text" id="cb" name="email" required>
									</span>
                    </p>

                    <p>
                        <label for="cd">Assunto: *</label>
                        <input name="assunto" type="text" id="cd" required>
                    </p>

                    <p class="inputFile">
                        <span id="clean"><a><img src="/static/media/images/dialog_close.png"></a></span>
                        <span id="value-empty">Selecione uma foto (JPEG ou PNG):</span>
                        <input type="file" name="arquivo" id="arquivo"/>
                    </p>

                    <p>
                        <label for="cc">Mensagem: *</label>
                        <textarea id="cc" name="msg" required></textarea>
                    </p>

                    <p>
                        <button id="send" type="submit">Enviar</button>
                    </p>
                </fieldset>
            </form>
        </article>
        {% if contato %}
            <aside class="vcard">
                <h3>Informações de Contato:</h3>
                <h4 class="fn org">Bolos da Lu</h4>

                <p class="tel">{{ contato.telefone }}</p>

                <p><a class="email">{{ contato.email }}</a></p>

                <p class="adr">{{ contato.endereco }}</p>
                </p>
            </aside>
        {% endif %}
    </div>
{% endblock %}
