{% extends 'abstracts/base.html' %}

{% block title %}
    Bolos da Lu - Galeria
{% endblock %}

{% block header %}
    {% include 'abstracts/header-top.html' %}
{% endblock %}

{% block content %}
    <input type="hidden" name="page" value="galeria">
    <article class="module-content">
        <h2>Galeria</h2>

        <div id="albums">
            <div class="news-c">
                <article>
                    <figure><a class="link-gallery"><img src="/static/media/temp/placeholder-k.png" alt="Placeholder"
                                                         width="258" height="180">
                    </a></figure>
                    <h3>Aniversário</h3>

                    <p>12 fotos</p>
                </article>
                <article>
                    <figure><a class="link-gallery"><img src="/static/media/temp/placeholder-k-1.png" alt="Placeholder"
                                                         width="258" height="180">
                    </a></figure>
                    <h3>Casamento</h3>

                    <p>12 fotos</p>
                </article>
                <article>
                    <figure><a class="link-gallery"><img src="/static/media/temp/placeholder-k.png" alt="Placeholder"
                                                         width="258" height="180">
                    </a></figure>
                    <h3>Infantis</h3>

                    <p>12 fotos</p>
                </article>
                <article>
                    <figure><a class="link-gallery"><img src="/static/media/temp/placeholder-k.png" alt="Placeholder"
                                                         width="258" height="180">
                    </a></figure>
                    <h3>Mini Bolos</h3>

                    <p>12 fotos</p>
                </article>
            </div>
        </div>

        <div id="pictures">
            <article id="content">
                <ul class="gallery-a">
                    <li><a href="/static/media/temp/a.html"><img src="/static/media/temp/placeholder-d.png" alt="Placeholder"
                                                          width="252"
                                                          height="161">
                        Weding cake No. 1</a></li>
                    <li><a href="/static/media/temp/a.html"><img src="/static/media/temp/placeholder-d.png" alt="Placeholder"
                                                          width="252"
                                                          height="161">
                        Weding cake No. 1</a></li>
                    <li><a href="/static/media/temp/a.html"><img src="/static/media/temp/placeholder-d.png" alt="Placeholder"
                                                          width="252"
                                                          height="161">
                        Weding cake No. 1</a></li>
                    <li><a href="/static/media/temp/a.html"><img src="/static/media/temp/placeholder-d.png" alt="Placeholder"
                                                          width="252"
                                                          height="161">
                        Weding cake No. 1</a></li>
                    <li><a href="/static/media/temp/a.html"><img src="/static/media/temp/placeholder-d.png" alt="Placeholder"
                                                          width="252"
                                                          height="161">
                        Weding cake No. 1</a></li>
                    <li><a href="/static/media/temp/a.html"><img src="/static/media/temp/placeholder-d.png" alt="Placeholder"
                                                          width="252"
                                                          height="161">
                        Weding cake No. 1</a></li>
                </ul>
            </article>
            <p class="link-a" id="backAlbums"><a href="#">voltar</a></p>
        </div>
    </article>
{% endblock %}