{% extends 'abstracts/base.html' %}

{% block title %}
    Bolos da Lu - Home
{% endblock %}

{% block header %}
    {% include 'abstracts/header-top.html' %}
{% endblock %}

{% block content %}
    <input type="hidden" name="page" value="home">

    <article class="triple-a">
        {% for servico in servicos %}
            <div>
                <h2>{{ servico.titulo }}</h2>
                <figure class="image-a"><img src="/static/media/{{ servico.imagem }}" alt="{{ servico.titulo }}"
                                             width="252"
                                             height="161"></figure>
                <p>{{ servico.descricao }}</p>
            </div>
        {% empty %}
            <p>Nenhum Serviço Cadastrado</p>
        {% endfor %}
    </article>

    <!-- <footer id="logo">
         <h2>Alguns de Nossos Clientes</h2>
         <ul>
             <li><a href="../" rel="external"><img src="/static/media/images/logo/a.png" alt="Logo" width="162"
                                                   height="129"></a>
             </li>
             <li><a href="../" rel="external"><img src="/static/media/images/logo/a.png" alt="Logo" width="162"
                                                   height="129"></a>
             </li>
             <li><a href="../" rel="external"><img src="/static/media/images/logo/a.png" alt="Logo" width="162"
                                                   height="129"></a>
             </li>
             <li><a href="../" rel="external"><img src="/static/media/images/logo/a.png" alt="Logo" width="162"
                                                   height="129"></a>
             </li>
             <li><a href="../" rel="external"><img src="/static/media/images/logo/a.png" alt="Logo" width="162"
                                                   height="129"></a>
             </li>
         </ul>
     </footer>-->
{% endblock %}