{% extends 'abstracts/base.html' %}

{% block title %}
    Bolos da Lu - Serviços
{% endblock %}

{% block header %}
    {% include 'abstracts/header-top.html' %}
{% endblock %}

{% block content %}
    <input type="hidden" name="page" value="servicos">
    <article class="module-content">
        <h2>Serviços</h2>

        <div class="news-c">
            {% for servico in servicos %}
                <article>
                    <figure><img src="/static/{{ servico.imagem }}" alt="{{ servico.titulo }}" width="258" height="180">
                    </figure>
                    <h3>{{ servico.titulo }}</h3>

                    <p>{{ servico.descricao }}</p>
                </article>
            {% endfor %}
        </div>
    </article>
{% endblock %}