{% extends 'abstracts/base.html' %}

{% block title %}
    Bolos da Lu - Depoimentos
{% endblock %}

{% block header %}
    {% include 'abstracts/header-top.html' %}
{% endblock %}

{% block content %}
    <input type="hidden" name="page" value="depoimentos">
    <!-- Content area start -->
    <article class="module-content">
        <h2>Depoimentos</h2>

        <div class="cols-a">
            <article class="news-a">
                <footer>
                    <ul id="depoimentos">
                        {% for depoimento in depoimentos %}
                            <li><span>{{ depoimento.nome }}:</span> {{ depoimento.descricao }}
                            </li>
                        {% empty %}
                            <p>Nenhum depoimento cadastrado.</p>
                        {% endfor %}
                    </ul>

                    {#                    {% if is_paginated %}#}
                    {#                        <div class="paginacao">#}
                    {#                            <span class="paginacao-links">#}
                    {#                                {% if page_obj.has_previous %}#}
                    {#                                    <a href="?page={{ page_obj.previous_page_number }}">anterior</a>#}
                    {#                                {% endif %}#}
                    {#                                <span class="page-current">#}
                    {#                                    P&aacute;gina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.#}
                    {#                                </span>#}
                    {#                                {% if page_obj.has_next %}#}
                    {#                                    <a href="?page={{ page_obj.next_page_number }}">pr&oacute;xima</a>#}
                    {#                                {% endif %}#}
                    {#                            </span>#}
                    {#                        </div>#}
                    {#                    {% endif %}#}

                    {% if is_paginated %}
                        <ol class="pagination-a">
                            <li id="prev"><a class="btn_page" href="/page/{{ page_obj.next_page_number }}">Anterior</a>
                            </li>
                            {% for page in qtd_pages %}
                                <li><a class="page" href="/page/{{ page }}" name="{{ page }}">{{ page }}</a></li>
                                {#                                <span class="page-current">#}
                                {#                                   {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.#}
                                {#                                </span>#}
                            {% endfor %}
                            <li id="next"><a class="btn_page" href="/page/{{ page_obj.next_page_number }}">Próxima</a>
                            </li>
                        </ol>
                    {% endif %}


                </footer>
                <form id="form_testimonials" action="/add/" method="post" class="form-a">
                    {% csrf_token %}
                    <fieldset>
                        <legend>Escreva um novo depoimento:</legend>
                        <p>
										<span>
											<label for="ca">Seu nome:</label>
											<input type="text" id="ca" name="nome" required>
										</span>
										<span>
											<label for="cb">Seu email:</label>
											<input type="email" id="cb" name="email" required>
										</span>
                        </p>

                        <p>
                            <label for="cc">Mensagem:</label>
                            <textarea id="cc" name="mensagem" required></textarea>
                        </p>
                        <button type="submit">Enviar</button>
                    </fieldset>
                </form>
            </article>
        </div>
    </article>
    <!-- Content area end -->
{% endblock %}